.groupHeader {
  position: "sticky";
  top: -8px;
  padding: 5px 10px;
  margin: 5px 0px;
  color: rgb(106, 106, 106);
  font-size: 14px;
}
.groupItems {
  padding: 0;
  padding-left: 10px;
}

.subHeading {
  font-size: 14;
  color: rgb(108, 108, 108);
  margin-top: 10px;
}
.value {
  margin-left: 10px;
}
